@model Formulario.Models.UsuarioModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>Iniciar sesi&oacute;n</h2>

@using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(e => e.Email)
        @Html.TextBoxFor(e => e.Email, new { @class = "form-control", @placeholder = "Ingrese su email" })
        @Html.ValidationMessageFor(e => e.Email, "", new { @class = "form-text text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Contrasena)
        @Html.TextBoxFor(c => c.Contrasena, new { @class = "form-control", @placeholder = "Ingrese su contraseña", @type = "password" })
        @Html.ValidationMessageFor(c => c.Contrasena, "", new { @class = "form-text text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-sucess">Iniciar sesi&oacute;n</button>
        &nbsp;
        <button type="reset" class="btn btn-sucess" onclick="location.href = 'Index'">¡Crea una cuenta!</button>
    </div>
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Registro))
    {
        <div id="registro" style="padding: 20px; background-color: #2196F3; color: white; margin-bottom: 15px;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Gracias por registrarte con nosotros.
            <br />
            <button type="button" onclick="ocultar()" class="btn">Aceptar</button>
        </div>
    }
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div id="fallido" style="padding: 20px; background-color: #f44336; color: white; margin-bottom: 15px;">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>ERROR</strong>
            <br />
            Usuario o contraseña incorrectos.
            <br />
            <button type="button" onclick="ocultar2()" class="btn">Aceptar</button>
        </div>
    }
}

<script>
    function ocultar() {
        document.getElementById("registro").style.display = "none";
    }
    function ocultar2() {
        document.getElementById("fallido").style.display = "none";
    }
</script>